.dicebox{
margin-bottom: 20px;
}

.dice{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-right: 40px;
    border-radius: 20px;
    font-size:100px;
    background-color: rgba(247, 224, 224, 0.363);
}

.button-diceroll{
    display: inline-block;
    font-size: 65px;
    height: 100px;
    width: 300px;
    background-color: rgb(110, 197, 75);
    border-radius: 5px;
    cursor: pointer;
}