.light-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:  #07dd8f;
}


.light-footer > h1{
    text-align: center;
}

.dark-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#0e0d0d;
}

.dark-footer > h1{
    text-align: center;
    color:#07dd8f
}