* {
  margin: 0;
  padding: 0;
}

.filter-container{
  background-color: #587059;
  font-size:25px;
  font-family: 'Poller One', cursive;
  letter-spacing:5px;
  color:#887766;
  text-shadow: 2px 2px #000000;
}

.filter-container > h3 {
  padding-top: 30px;
margin-left: 80px;
}

.filter-container > select {
  margin: 30px 0px;
  margin-left: 80px;
  height: 32px;
  width: 300px;
  font-size: 25px;
  
}