.footer-container{
    /* position: fixed;
    left:0;
    bottom:0;
    right:0; */
    display: inline-block;
    height: 200px;
    width: 100%;
    background-color: rgba(100, 170, 250, 0.575);
    text-align: center;
    font-family: 'Raleway', sans-serif;
   
    
}