.profile{
    display: grid;
    justify-content: center;
}

.profile form {
    display: grid;
    row-gap: 30px;
}

.profile h1 {
    text-align: center;
    font-size: 60px;
}

.profile h3 {
    text-align: center;
}

.profile form {
    padding: 40px 40px;
    border: 1px solid black;
    background-color: rgb(5, 129, 201);
    border-radius: 10px;
    box-shadow: 0 17px 10px -10px;
}

.profile form input{
    height: 30px;
    font-size: 26px;
}

.profile form textarea {
   resize: vertical; 
   width: 400px;
}

.profile form button {
    width: 200px;
    margin: 0 auto;
}