
.issue-container{
    display: flex;
    justify-content: center;
}

.publicIssue{
    display: inline-block;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    margin-bottom: 20px;
    padding: 20px 20px;
    width: 400px;
    grid-template-rows: 100px 100px;
    margin: 80px 80px;
}

.publicIssue h2{
    font-size: 17px;
}